name: test-publish
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Test Action
      uses: ./action/publish
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
