name: test-publish
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.7'
        architecture: 'x64'
    - uses: ./action/publish
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    
